<!-- <div class="event-card">
  <p>{{ event.name }} - {{ event.author }} &nbsp;{{ event.date }}&nbsp;&nbsp;{{ event.time }}</p>
  <span class=" event-tag">attend for free</span>
  <span class="counter-text">You added <span class="counter-number">{{ event.counter }}</span>
    tickets</span>
  <div class="counter-btns">
    <button class="counter-btn btn-plus" (click)="addTicket()">+</button>
    <button class="counter-btn btn-minus" (click)="removeTicket()">-</button>
  </div>
</div> -->
<p>events works!</p>

<ul>
  <li *ngFor="let event of events$ | async">{{ event.name }}</li>
  <p (click)="getEvents()">GET ALL EVENTS</p>
</ul>