<div class="content">
  <div class="card highlight-card card-small">
    <h1>{{ title }}</h1>
  </div>
  <h2 class="events-title">Events in {{ organization }}</h2>
  <button class="button-show" (click)="toggleEvents()">Show events</button>
  <!-- <div *ngIf="toggle">
    <app-events *ngFor="let eventItem of events" [event]="eventItem"></app-events>
  </div> -->
  <app-events></app-events>
</div>
<p>{{message}}</p>
<p (click)="getAllEvents()">GET ALL EVENTS</p>

<app-posts></app-posts>


<router-outlet></router-outlet>